<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<style>
    footer {
        text-align: center;
    }
        footer p {
            font-size: 0.75rem;
            float: right;
            padding: 1rem 1rem 0rem 0rem;
        }

    #footr {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color:darkgrey;
        color: white;
        height: 3rem;
    }
</style>

<footer id="footr" class="fixed-bottom">
    <p class="fs-5 pt-1 mt-1 mb-0">Terms of Conditions | Privacy Policy</p>
</footer>