@model DataAccess.Models.BusinessRequestModel

@{
    Layout = "~/Views/Shared/_b1c.cshtml";
}

<div class="con container">

    <div class="d-flex flex-row-reverse mb-3">
        <a asp-controller="Home" asp-action="b1_submit_request_screen" type="button" class="back btn btn-outline-info">
            &lt&nbspBack
        </a>
    </div>
    <form asp-controller="Aspnetusers" asp-action="b1_submit_request_screen">

        <div class="flex-column rounded shadow-lg p-4 pb-0">

            <h4 class="form-headings mt-2 justify-content-start">
                Business Information
            </h4>
            <div class="row row-cols-2">
                <div class="form-floating col my-3 w-50">
                    <input asp-for="firstName" type="text" class="form-control shadow-none px-4" id="floatingInput" placeholder="Your First Name" />
                    <label for="floatingInput" class=" common mx-4">Your First Name</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="lastName" type="text" class="form-control px-4 shadow-none" id="floatingInput" placeholder="Your Last Name" />
                    <label for="floatingInput" class=" common mx-4">Your Last Name</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input type="tel" asp-for="phoneNo" class="form-control shadow-none p-3 ps-5" class="phoneNumber" placeholder="(369) 936-0369">
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="email" type="email" class="form-control px-4 shadow-none" id="floatingInput" placeholder="Your Email" />
                    <label for="floatingInput" class="common mx-4">Your Email</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="businessName" type="text" class="form-control px-4 shadow-none" id="floatingInput"
                           placeholder="Business/Property Name" />
                    <label for="floatingInput" class="common mx-4 z-0 position-absolute">Business/Property Name</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="caseNo" type="text" class="form-control px-4 shadow-none" id="floatingInput"
                           placeholder="Case Number (Optional)" />
                    <label for="floatingInput" class="common mx-4">Case Number (Optional)</label>
                </div>
            </div>

            <h4 class="form-headings mt-2 justify-content-start">
                Patient Information
            </h4>
            <div class="row row-cols-2">
                <div class="form-floating col w-100">
                    <textarea asp-for="symptoms" class="form-control px-4 shadow-none" placeholder="Symptoms" id="floatingTextarea"
                              style="height: 100px"></textarea>
                    <label for="floatingTextarea" class="common mx-4 z-0 position-absolute">Enter Brief Details of Symptoms (Optional)</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="patientFirstName" type="text" class="form-control px-4 shadow-none" id="floatingInput" placeholder="First Name" />
                    <label for="floatingInput" class=" common mx-4">First Name</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="patientLastName" type="text" class="form-control px-4 shadow-none" id="floatingInput" placeholder="Last Name" />
                    <label for="floatingInput" class=" common mx-4">Last Name</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="patientDob" id="startDate" class="form-control px-4 shadow-none" type="date" />
                    <label for="startDate" class=" common mx-4">Date of Birth</label>
                </div>
            </div>

            <h4 class="form-headings mt-2 justify-content-start">
                Patient Contact Information
            </h4>
            <div class="row row-cols-2">
                <div class="form-floating col my-3 w-50">
                    <input asp-for="patientEmail" type="email" class="form-control px-4 shadow-none" id="floatingInput" placeholder="Email" />
                    <label for="floatingInput" class=" common mx-4">Email</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input type="tel" asp-for="patientPhoneNo" class="form-control shadow-none p-3 ps-5" class="phoneNumber" placeholder="(369) 936-0369">
                </div>
            </div>

            <h4 class="form-headings mt-2 justify-content-start">
                Patient Location
            </h4>
            <div class="row row-cols-2">
                <div class="form-floating col my-3 w-50">
                    <input asp-for="street" type="text" class="form-control px-4 shadow-none" id="floatingInput" placeholder="Street" />
                    <label for="floatingInput" class=" common mx-4">Street</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="city" type="text" class="form-control px-4 shadow-none" id="floatingInput" placeholder="City" />
                    <label for="floatingInput" class="common mx-4 z-0 position-absolute">City</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="state" type="text" class="form-control px-4 shadow-none" id="floatingInput" placeholder="State" />
                    <label for="floatingInput" class=" common mx-4">State</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="zipCode" type="text" class="form-control px-4 shadow-none" id="floatingInput" placeholder="Zip Code" />
                    <label for="floatingInput" class="common mx-4 z-0 position-absolute">Zip Code</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="roomSuite" type="text" class="form-control px-4 shadow-none" id="floatingInput"
                           placeholder="Room # / Suite (Optional)" />
                    <label for="floatingInput" class="common mx-4">Room # / Suite (Optional)</label>
                </div>
            </div>

            <div class="row row-cols-2 mt-3 pb-3 justify-content-end">
                <div class="col w-auto">
                    <button class="back btn btn-outline-info" type="submit">
                        Submit
                    </button>
                </div>

                <div class="col w-auto">
                    <button class="back btn btn-outline-info" type="reset">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
