@model DataAccess.DataModels.Aspnetuser
@{
    Layout = "~/Views/Shared/_b2.cshtml";
}

<div class="bg-image container-fluid">
    <div class="row fixed-top mt-5">
        <div class="col"></div>
        <div class="col">

            <!-- Logo Image -->
            <div class="row">
                <img src="~/Images/logo.png" class="logo-image" alt="logo" />
            </div>

            <div class="row mt-5"></div>

            <!-- Back Button -->
            <div class="row mt-5">
                <p>
                    <a asp-controller="Home" asp-action="Index" class="link-offset-2 link-opacity-100 link-underline link-underline-opacity-0 text-decoration-none text-primary">&lt back</a>
                </p>
            </div>

            <!-- Form -->
            <div class="row w-100">
                <h3 class="text-center">Login To Your Account</h3>
            </div>

            <form asp-action="b2c1_patient_dashboard" asp-controller="Aspnetusers">
                <div class="row w-100 form-floating mb-3 mt-3">

                    <input type="email" asp-for="Email" class="form-control shadow-none border-info" id="floatingInput" placeholder="Email" />
                    <i class="bi bi-person-circle login-icon w-auto fs-4"></i>

                    <label for="floatingInput" class="input-box-text">Email</label>
                    <span class="text-danger">@TempData["Email"]</span>
                    
                </div>

                <div class="row w-100 form-floating">
                    <input type="password" asp-for="Passwordhash" class="form-control shadow-none border-info" id="see"
                           placeholder="Password" />
                    <label for="floatingPassword" class="input-box-text">Password</label>
                    <span asp-validation-for="Passwordhash" class="text-danger"></span> 
                    <i class="bi bi-eye-fill login-icon w-auto fs-4 " id="eye"></i>
                    <span class="text-danger">@TempData["Password"]</span>

                </div>
                <button type="submit" class="row btn btn-info text-white font-weight-bold fs-5 mt-3 w-100 p-3">
                    Log In
                </button>
            </form>

            <div class="row mt-5 text-center">
                <p>
                    <a asp-controller="Home" asp-action="b2c_forgot_password" type="button" class="text-primary link-opacity-100 link-underline link-underline-opacity-0 w-100">
                        Forgot
                        Password?
                    </a>
                </p>
            </div>

        </div>

        <!-- Dark Mode Switcher -->
        <div class="col">
            <img class="float-right light" id="d-mode" role="button" onclick="myFunction()" src="~/Images/dark.png" alt="" />
        </div>

    </div>
</div>