@model Project_HalloDoc.Views.Home.b2c1_patient_dashboardModel

@{
    Layout = "~/Views/Shared/_b2c.cshtml";
}

<!-- Main Content -->
<hr class="m-0 hr_line d-none d-lg-block">
<nav class="navbr navbar navbar-expand-lg py-0 pt-2 bg-body" style="z-index: 10;">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" bg-white ps-5 nav nav-underline" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                        Dashboard
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                        Profile
                    </button>
                </li>

            </ul>
        </div>

    </div>
</nav>

<div class="tab-content pt-5" id="tab-content">

    <div class="tab-pane active" id="home-tab" role="tabpanel" aria-labelledby="simple-tab-0">
        <div class="work-area container-fluid fixed">
            <div class="row row-cols-2">
                <div class="col-11 justify-content-center text-center my-5">
                    <h2 class="my-5">I am a...</h2>

                </div>

                @* <div class="col-1 my-5">
                <a asp-controller="Home" asp-action="Index" type="button" class="back btn btn-outline-info justify-content-start mt-5">
                &lt&nbspBack
                </a>
                </div> *@
            </div>
        </div>
    </div>
</div>

