@model DataAccess.Models.PatientRequestModel

@{
    Layout = "~/Views/Shared/_b2c.cshtml";
}

<!-- Main Content -->
<div class="con container">

    <div class="d-flex flex-row-reverse mb-3">
        <button onclick="location.href='@Url.Action("b2c1_patient_dashboard", "Home")'" type="button" class="back btn btn-outline-info">
            &lt&nbspBack
        </button>
    </div>

    <form asp-controller="Home" asp-action="b1_submit_request_screen" enctype="multipart/form-data">
        <div class="flex-column rounded shadow-lg p-4 pb-0">

            <h4 class="form-headings mt-2 justify-content-start">
                FOR ME Information
            </h4>
            <div class="row row-cols-2">
                <div class="form-floating col w-100">
                    <textarea asp-for="symptoms" class="form-control px-4 shadow-none" placeholder="Symptoms" id="floatingTextarea"
                              style="height: 100px"></textarea>
                    <label for="floatingTextarea" class=" common mx-4">
                        Enter Brief Details of Symptoms
                        (Optional)
                    </label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="firstName" type="text" class="form-control px-4 shadow-none" id="floatingInput"
                           placeholder="First Name" />
                    <label for="floatingInput" class=" common mx-4">First Name</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="lastName" type="text" class="form-control px-4 shadow-none" id="floatingInput"
                           placeholder="Last Name" />
                    <label for="floatingInput" class=" common mx-4">Last Name</label>
                </div>

                <div class="form-floating col mb-3 w-50">
                    <input asp-for="dateOfBirth" id="startDate" class="form-control px-4 shadow-none" type="date" />
                    <label for="startDate" class=" common mx-4">Date of Birth</label>
                </div>
            </div>

            <h4 class="form-headings mt-2 justify-content-start">
                Patient Contact Information
            </h4>
            <div class="row row-cols-2">
                <div class="form-floating col my-3 w-50">
                    <input asp-for="email" type="email" class="form-control px-4 shadow-none" id="email" placeholder="Email" />
                    <label for="floatingInput" class=" common mx-4">Email</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input type="tel" asp-for="phoneNo" class="form-control shadow-none p-3 ps-5" placeholder="(369) 936-0369">
                </div>

                <div id="passwordSection" class="col-6 input-div form-floating col my-3 w-50" style="display:none">
                    <input type="password" class="form-control px-4 shadow-none" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="hidenpass common mx-4">Password</label>
                </div>
                <div id="confirmPasswordSec" class="col-6 input-div form-floating col my-3 w-50" style="display:none">
                    <input type="password" class="form-control px-4 shadow-none" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="hidenpass common mx-4">Confirm Password</label>
                </div>

            </div>

            <h4 class="form-headings mt-2 justify-content-start">
                Patient Location
            </h4>
            <div class="row row-cols-2">
                <div class="form-floating col my-3 w-50">
                    <input asp-for="street" type="text" class="form-control px-4 shadow-none" id="floatingInput" placeholder="Street" />
                    <label for="floatingInput" class=" common mx-4">Street</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="city" type="text" class="form-control px-4 shadow-none" id="floatingInput" placeholder="City" />
                    <label for="floatingInput" class="common mx-4 z-0 position-absolute">City</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="state" type="text" class="form-control px-4 shadow-none" id="floatingInput" placeholder="State" />
                    <label for="floatingInput" class=" common mx-4">State</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="zipCode" type="text" class="form-control px-4 shadow-none" id="floatingInput"
                           placeholder="Zip Code" />
                    <label for="floatingInput" class="common mx-4 z-0 position-absolute">Zip Code</label>
                </div>

                <div class="form-floating col my-3 w-50">
                    <input asp-for="roomSuite" type="text" class="form-control px-4 shadow-none" id="floatingInput"
                           placeholder="Room # / Suite (Optional)" />
                    <label for="floatingInput" class="common mx-4">Room # / Suite (Optional)</label>
                </div>

                <div class="col-1">
                    <div class="form-floating mb-3">
                        <button type="button" class="upload btn btn-outline-info mt-3 py-3">
                            <i class="bi bi-geo-alt"></i> Map
                        </button>
                    </div>
                </div>
            </div>

            <h4 class="form-headings mt-2 justify-content-start">
                (Optional) Upload Photo or Document
            </h4>
            <div class="row my-4 ms-1 justify-content-end">
                <div class="input-group-text border-top border-bottom -border-start border-rounded-left px-3 py-2 col-11" id="file-name">Select File</div>
                <div class="file-upload-container col-1 mx-0 px-0">
                    <label for="formFile" class="upload btn btn-info m-0 py-2">Upload</label>
                    <input asp-for="file" class="d-none" type="file" id="formFile" multiple>
                </div>
            </div>

            <div class="row row-cols-2 mt-3 pb-3 justify-content-end">
                <div class="col w-auto">
                    <button type="submit" class="back btn btn-outline-info">
                        Submit
                    </button>
                </div>

                <div class="col w-auto">
                    <button class="back btn btn-outline-info" type="reset">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $('#email').focusout(function () {
        var email = $(this).val();
        $.ajax({
            url: '/Aspnetusers/CheckEmailExists',
            type: 'GET',
            contentType: 'application/json',
            data: { email: email },
            success: function (response) {
                if (response.emailExists) {
                    $('#passwordSection').hide();
                    $('#confirmPasswordSec').hide();
                } else {
                    $('#passwordSection').show();
                    $('#confirmPasswordSec').show();
                }
            }
        });
    });
</script>
<script>
    const phoneInputField = document.querySelectorAll("input[type='tel']");
    for (var i = 0; i < phoneInputField.length; i++) {
        const phoneInput = window.intlTelInput(phoneInputField[i], {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    }
</script>
