
@model DataAccess.DataModels.Aspnetuser
@{
    Layout = "~/Views/Shared/_b2.cshtml";
}

<div class="container">
    <div class="row fixed-top mt-5">

        <div class="col"></div>

        <div class="col">

            <!-- Logo Image -->
            <div class="row">
                <img src="~/Images/logo.png" class="logo-image" alt="logo" />
            </div>

            <div class="row mt-5"></div>

            <div class="row mt-5"></div>

            <!-- Back Button -->
            <div class="row mt-5">
                <p>
                    <a asp-controller="Home" asp-action="Index" class="link-offset-2 link-opacity-100 link-underline link-underline-opacity-0">&lt back</a>
                </p>
            </div>

            <!-- Form -->
            <div class="row w-100">
                <h3 class="text-center">Reset Your Password</h3>
            </div>

            <form asp-action="PatientResetPasswordEmail">

                <div class="row w-100 form-floating mb-3 mt-3">
                    <input type="email" class="form-control border-info border-1 shadow-none" id="floatingInput"
                           placeholder="name@example.com" asp-for="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <label for="floatingInput" class="input-box-text">Email</label>
                </div>

                <button type="submit" class="row btn btn-info text-white font-weight-bold mt-3 w-100 p-3">
                    Reset Password
                </button>

            </form>

            <div class="row mt-5 text-center">
                <p>
                    <a asp-controller="Home" asp-action="b2_registered_user" class="link-opacity-100 link-underline link-underline-opacity-0">
                        &lt Back
                        to Login
                    </a>
                </p>
            </div>

        </div>

        <!-- Dark Mode Switcher -->
        <div class="col">
            <img class="float-right light" id="d-mode" role="button" onclick="myFunction()" src="~/Images/dark.png" alt="">
        </div>

    </div>
</div>
