@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row h-100 fixed-top p-5">
        <div class="col"></div>

        <div class="col">

            <!-- Logo Image -->
            <div class="row">
                <img src="~/Images/logo.png" class="logo-image" alt="logo" />
            </div>

            <!-- Submit Request & Registered User Button -->
            <div class="row mt-5">
                <div class="col-11 justify-content-center text-center">
                    <div class="d-grid gap-5 col-12 mx-auto my-5">
                         <button onclick="location.href='@Url.Action("b1_submit_request_screen", "Home")'"class="submit-request btn text-white btn-info btn-lg w-100">
                            Submit A Request
                        </button>
                        <button onclick="location.href='@Url.Action("b2_registered_user", "Home")'" class="registered-user btn btn-primary btn-lg w-100">
                            Registered User
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="col">
            <img class="float-right light" role="button" id="d-mode" onclick="myFunction()" src="~/Images/dark.png" alt="" />
        </div>

    </div>
</div>

<footer class="fixed-bottom ">
    <!-- Footer -->
    <div class="row justify-content-center">
        <div class="col-5 text-right w-auto">
            <a class="link-opacity-100 link-underline link-underline-opacity-0 text-reset text-decoration-none" href="#">Terms of Conditions</a>
        </div>
        <div class="col-2 text-center w-auto">
            <p>|</p>
        </div>
        <div class="col-5 text-left w-auto">
            <a class="link-opacity-100 link-underline link-underline-opacity-0 text-reset text-decoration-none" href="#">Privacy Policy</a>
        </div>
    </div>
</footer>