@model DataAccess.DataModels.Aspnetuser;
@{
    Layout = "~/Views/Shared/_b2.cshtml";
}

<div class="bg-image container-fluid">
    <div class="row fixed-top mt-5">
        <div class="col"></div>
        <div class="col">

            <!-- Logo Image -->
            <div class="row">
                <img src="~/Images/logo.png" class="logo-image" alt="logo" />
            </div>

            <div class="row mt-5"></div>

            <!-- Back Button -->
            <div class="row mt-5">
                <p>
                    <a asp-controller="Home" asp-action="Index" class="link-offset-2 link-opacity-100 link-underline link-underline-opacity-0 text-decoration-none text-primary">&lt back</a>
                </p>
            </div>

            <div class="row w-100">
                <h3 class="text-center">Reset Your Password</h3>
            </div>

            <!-- Form -->
            <form  method="post">
                <div class="row w-100 form-floating mb-3 mt-3">

                    <input type="password" asp-for="Passwordhash" class="form-control shadow-none border-info" id="see1" placeholder="Password" onchange="checking()"/>
                    <span asp-validation-for="Passwordhash" class="text-danger"></span>
                    <i class="bi bi-eye-fill login-icon w-auto fs-4" id="eye1"></i>
                    <label for="floatingInput" class="input-box-text">Password</label>

                </div>

                <div class="row w-100 form-floating">
                    <input type="password" class="form-control shadow-none border-info" id="see2" placeholder="Password" onchange="checking()" />
                    <i class="bi bi-eye-fill login-icon w-auto fs-4" id="eye2"></i>
                    <label for="floatingPassword" class="input-box-text">Confirm Password</label>
                    <span id="warn" class="text-danger"></span>
                </div>
                <button id="resetBtn" type="submit" class="row btn btn-info text-white font-weight-bold fs-5 mt-3 w-100 p-3" disabled>
                    Reset
                </button>
            </form>

        </div>

        <!-- Dark Mode Switcher -->
        <div class="col">
            <img class="float-right light" id="d-mode" role="button" onclick="myFunction()" src="~/Images/dark.png" alt="" />
        </div>

    </div>
</div>

<script>

    const password = document.getElementById('see1')
    const cpassword = document.getElementById('see2')
    const warn = document.getElementById('warn');

    var eye1 = document.getElementById('eye1')
    var password1 = document.getElementById('see1')

    var eye2 = document.getElementById('eye2')
    var password2 = document.getElementById('see2')


    eye1.addEventListener('click', function () {
        if (password1.type == 'password') {
            eye1.classList.remove('bi-eye-fill');
            eye1.classList.add('bi-eye-slash-fill');
            password1.type = 'text';
        }
        else {
            eye1.classList.remove('bi-eye-slash-fill');
            eye1.classList.add('bi-eye-fill');
            password1.type = 'password';
        }
    })

    eye2.addEventListener('click', function () {
        if (password2.type == 'password') {
            eye2.classList.remove('bi-eye-fill');
            eye2.classList.add('bi-eye-slash-fill');
            password2.type = 'text';
        }
        else {
            eye2.classList.remove('bi-eye-slash-fill');
            eye2.classList.add('bi-eye-fill');
            password2.type = 'password';
        }
    })

    function checking() {
        if (password.value == cpassword.value) {
            resetBtn.disabled = false;
            warn.textContent = " ";
        }
        else {
            resetBtn.disabled = true;
            warn.textContent = "Confirm Password Not Matching";
        }
    }
</script>
                        