﻿ /* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

.footer-css {
    margin-left: auto;
}

.foot-text {
    text-align: center;
    padding-top: 1%;
    vertical-align: middle;
}

.patient {
    color: #452c63;
    border-color: #452c63;
    background-color: #e6e6fa;
}

    .patient:hover {
        color: #e6e6fa;
        background-color: #452c63;
    }

.family-friend {
    color: #1e90ff;
    border-color: #1e90ff;
    background-color: #e0ffff;
}

    .family-friend:hover {
        background-color: #1e90ff;
        color: #e0ffff;
    }

.concierge {
    color: #006241;
    border-color: #006241;
    background-color: #d0f0c0;
}

    .concierge:hover {
        background-color: #006241;
        color: #d0f0c0;
    }

.partners {
    color: #ed296b;
    border-color: #ed296b;
    background-color: #ffe7ee;
}

    .partners:hover {
        background-color: #ed296b;
        color: #ffe7ee;
    }

.btn-outline-info {
    color: #64d5f7;
    border-color: #64d5f7;
    background-color: white;
}

    .btn-outline-info:hover {
        color: white;
        background-color: #64d5f7;
        border-color: #0098c6;
    }

    .btn-outline-info:active {
        color: white;
        background-color: #0098c6;
        --bs-btn-active-color: white;
    }

.work-area {
    margin-top: 100px;
    margin-bottom: 100px;
}

.dark-mode {
    background-color: rgb(63, 63, 63);
    color: white;
}

/* Tabs Card */

.tab-card {
    border: 1px solid #eee;
}

.tab-card-header {
    background: none;
}
    /* Default mode */
    .tab-card-header > .nav-tabs {
        border: none;
        margin: 0px;
    }

        .tab-card-header > .nav-tabs > li {
            margin-right: 2px;
        }

            .tab-card-header > .nav-tabs > li > a {
                border: 0;
                border-bottom: 2px solid transparent;
                margin-right: 0;
                color: #737373;
                padding: 2px 15px;
            }

                .tab-card-header > .nav-tabs > li > a.show {
                    border-bottom: 2px solid #007bff;
                    color: #007bff;
                }

                .tab-card-header > .nav-tabs > li > a:hover {
                    color: #007bff;
                }

    .tab-card-header > .tab-content {
        padding-bottom: 0;
    }
