@using DataAccess.Models;
@model AssignCaseModel;

@*Transfer case model *@
<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content">
            <div class="modal-header" style="background-color:#00B7FF">
                <h5 class="modal-title text-light" id="exampleModalLabel">Transfer Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3 text-secondary">
                    <p>To assign this request, search and select another Physician</p>
                </div>


                <div class="mb-3 ">

                    <select class="form-select text-secondary" id="selectRegion1" asp-for="selectRegionId" aria-label="Default select example">
                        <option disabled selected>Select Region</option>
                        @if (Model.regionList != null)
                        {
                            foreach (var item in Model.regionList)
                            {
                                <option value="@item.Regionid">@item.Name</option>
                            }
                        }
                    </select>
                    <small id="regionRequired1" class="d-none" style="color:red">Region Is Required</small>

                </div>

                <div class="mb-3 text-secondary">
                    <div class="form-floating mb-3">
                        <select class="form-select text-secondary" id="selectPhysician1" asp-for="selectPhysicianId" aria-label="Default select example">
                        </select>
                        <label for="floatingInput">Physicians</label>
                    </div>
                    <small id="physicianRequired1" class="d-none" style="color:red">Physician Is Required</small>

                </div>

                <div class="mb-3">
                    <textarea class="form-control" asp-for="description" id="description1" placeholder="Description"></textarea>
                    <small id="descriptionRequired1" class="d-none" style="color:red">Description Is Required</small>

                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" id="submitCase1" class="btn text-light" style="background-color:#00B7FF">Confirm</button>
                <button type="reset" class="btn border border-info" style="color:#00B7FF" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
@* <div id="modelContent1"></div> *@
<script>

    

    $('#selectRegion1').on('change', function () {
        let selectRegion = $("#selectRegion1").val();
        if (selectRegion != null) {
            $("#regionRequired1").addClass('d-none').removeClass('d-block');
        }
        else {
            $("#regionRequired1").addClass('d-block').removeClass('d-none');
        }
    });

    $('#selectPhysician1').on('change', function () {
        let selectPhysician = $("#selectPhysician1").val();
        if (selectPhysician != null) {
            $("#physicianRequired1").addClass('d-none').removeClass('d-block');
        }
        else {
            $("#physicianRequired1").addClass('d-block').removeClass('d-none');
        }
    });

    $('#description1').on('input', function () {
        let description = $("#description1").val();
        if (description != "") {
            $("#descriptionRequired1").addClass('d-none').removeClass('d-block');
        }
        else {
            $("#descriptionRequired1").addClass('d-block').removeClass('d-none');

        }
    });

    $("#selectRegion1").on("change", function () {

        showPhysicians($(this).val());

    });
    function showPhysicians(regionId) {
        $.ajax({
            url: '/Admin/GetPhysician1',
            type: 'GET',

            data: { selectRegion1: regionId },
            success: function (response) {

                $('#selectPhysician1').html("<option disabled selected value>" + "Select Physician" + "</option>");
                console.log(response.physicianlist.length);
                for (var i = 0; i < response.physicianlist.length; i++) {
                    console.log("hello");
                    $("#selectPhysician1").append('<option value = "' + response.physicianlist[i].physicianid + '" >' + response.physicianlist[i].firstname + '</option>')

                }
            }
        });
    }

    $("#submitCase1").on('click', function () {


        var selectRegion = $("#selectRegion1").val();

        if (selectRegion == null) {
            $("#regionRequired1").addClass('d-block').removeClass('d-none');
        } else {
            $("#regionRequired1").addClass('d-none').removeClass('d-block');
        }

        var selectPhysician = $("#selectPhysician1").val();

        if (selectPhysician == null) {
            $("#physicianRequired1").addClass('d-block').removeClass('d-none');
        } else {
            $("#physicianRequired1").addClass('d-none').removeClass('d-block');
        }

        var description = $("#description1").val();

        if (description == "") {
            $("#descriptionRequired1").addClass('d-block').removeClass('d-none');
        } else {
            $("#descriptionRequired1").addClass('d-none').removeClass('d-block');
        }




        if ((selectRegion1 != null && selectPhysician1 != null) && description1 != '') {

            var payload = {
                selectRegionId: selectRegion1,
                selectPhysicianId: selectPhysician1,
                description: description1,
                ReqId: @Model.ReqId
                    };
            console.log(payload);
            var url = '@Url.Action("SubmitTransferCase","Admin")';
            $.ajax({
                url: url,
                type: 'POST',

                data: payload,
                success: function (response) {
                    if (response.isTransferred) {
                        console.log("Transferred");
                        toastr.success("Transfer Case");
                        window.location.reload();

                    }
                    else {
                        console.log("Failed");
                        window.location.reload();
                    }
                }
            });
        }



    });
</script>